:root {
  /* Brand color */
  --brand-color: #FF7119;

  /* secondary colors */
  --sec-gold: #da9100;
  --sec-silver: #c0c0c0;
  --sec-brass: #D4Af37;


  /* backgroun colors for dashboard */
  --bg-sides: #121212;
  --bg-main: #4B4A4A;
  --bg-chart: #2c2b2b;

  /* chart elements colors */
  --chart-color1: #75A6e5;
  --chart-color2: #9b7cb6;
  --chart-color3: blue;
  --chart-color4: purple;
  --chart-color5: maroon;


  --bg-library: #ecece9;
  --font-family-headers: 'Syncopate', sans-serif;  
  --font-family-content: 'Montserrat', sans-serif;
  --font-family-chart: 'noto', serif;

  /* Feedback colors */
  --pastel-orange: #f0944d;
  --pastel-green: #c8e1cc;
  --pastel-yellow: #fdfd96;

  /* text-Colors */
  --font-on-dark: #ffffff;
  --font-on-light: #121212;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
    background-color: var(--bg-main);
    color: var(--font-on-dark);
    height: 100vh;
    width: 100%;
  }

  .main-nav {
    background-color: var(--bg-sides);
    display: flex;
    gap: 1rem;
    align-items: center;
    font-family: var(--font-family-headers);
  }

 

  .main-nav a {
    color: var(--brand-color);
    text-decoration: none;
    padding: 10px;
  }

  .main-nav a:hover {
    text-shadow: 0 0 10px var(--sec-silver);
    cursor: pointer;
  }

  .main-nav div {
    margin-left: auto;
  }

  .banner-container {
    display: flex;
    width: 100vw;
    background-color: var(--bg-sides);
    color: var(--font-on-Dark);
    text-transform: uppercase;
    justify-content: center;
    border-bottom: 1px solid var(--bg-chart);
    text-align: center;
    font-family: var(--font-family-headers);
}

.headers-container h1 {
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

  .main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
  }
  .navbar-left {
    max-width: 300px;
    min-width: 250px;
    background-color: var(--bg-sides);
    color: var(--font-on-dark);
    padding-left: 10px;
    min-height: 100vh;
    font-family: var(--font-family-headers);
  }

  .navbar-left ul {
    list-style: none;
  }

  .navbar-left ul li {
    color: var(--brand-color)
  }

  .main-content {
    width: 100%;
    height: 100vh;
    padding: 2%;
  }

  .charts-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 2%;
 
    }

  .chart1, .chart2 {
   padding: 3px;
    background-color: var(--bg-chart);
    border: 1px solid var(--bg-sides);
  }


  .btn {
    background-color: var(--sec-silver);
    position:absolute;
    bottom: 0;
    right: 2%;
    padding: 10px;
    border-radius: 4px;
    color: var(--font-on-dark);
    text-transform: uppercase;
    border: 1px solid var(--sec-brass);
  }