:root {
  /* Brand color */
  --brand-color: #FF7119;

  /* secondary colors */
  --sec-gold: #da9100;
  --sec-silver: #c0c0c0;
  --sec-brass: #D4Af37;


  /* background colors for dashboard */
  --bg-sides: #121212;
  --bg-main: #4B4A4A;
  --bg-chart: #2c2b2b;

  /* chart elements colors */
  --chart-color1: #75A6e5;
  --chart-color2: #9b7cb6;
  --chart-color3: blue;
  --chart-color4: purple;
  --chart-color5: maroon;

  --bg-library: #ecece9;
  --font-family-headers: 'Syncopate', sans-serif;  
  --font-family-content: 'Montserrat', sans-serif;
  --font-family-chart: 'noto', serif;

  /* Feedback colors */
  --pastel-orange: #f0944d;
  --pastel-green: #c8e1cc;
  --pastel-yellow: #fdfd96;

  /* text-Colors */
  --font-on-dark: #ffffff;
  --font-on-light: #121212;
}

*, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100vw;
    background-size: 100%;
    
    background-repeat: no-repeat;
    height: 100vh;
}

.main-nav {

  background-color: var(--bg-sides);
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0;
  padding: 1% 2%;
  font-family: var(--font-family-headers);
}

.main-nav a {
  color: var(--brand-color);
  text-decoration: none;
  padding: 10px;
}
.main-nav a:hover {
  text-shadow: 0 0 10px var(--font-on-dark);
  cursor: pointer;
}

.main-nav div {
  margin-left: auto;
}

.logoImg {
  width: 100px;
}

.banner-container {
  display: flex;
  width: 100%;
  background-color: var(--bg-sides);

  color: var(--font-on-dark);
  text-transform: uppercase;
  justify-content: center;
  border-bottom: 1px solid var(--sec-silver);
  margin: 0;
  padding: 0;
  padding-bottom: 5%;
  font-family: var(--font-family-headers);
}

.headers-container h1 {
  font-size: 3rem;
  padding: 0;
  padding-bottom: 2%;
  margin: 0;

}

.main {
  display: flex;
  width: 100%;
  height: 100%;
}

.navbar-left {
  width: 20%;
  min-width: 150px;
  background-color: var(--bg-sides);
  min-height: 100vh;
  text-align: left;
  padding: 0 3%;

 
}
.navbar-left ul li {
  color: var(--font-on-dark);
  font-family: var(--font-family-headers);
  font-size: 0.8rem;
  list-style: none;
  list-style: none;
}

.navbar-left li a {
  text-decoration: none;
  color: var(--font-on-dark);
}
.main.nav a:visited {
  text-decoration: none;
}

.main-nav a:hover {
  text-shadow: 0 0 10px var(--font-on-dark);
  cursor: pointer;
}

.navbar-left .categoryTitle {
    color: var(--brand-color);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.main-content {
 width: 80%;
 flex-wrap: wrap;
 padding: 0 2%;
 background-color: var(--bg-main);
height: 100vh;
}

.main-content h1 {
  color: var(--font-on-dark);
  font-family: var(--font-family-headers);
  padding: 2% ;
}

.charts-container {
 display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
}



.charts-container img {
  width: 600px;
  box-shadow: 0px 0px 10px 1px #c0c0c044;
/* 
  box-shadow: 0px 0px 10px 5px #12121244; */
}

@media only screen and (max-width: 800px) {
  .charts-container {
    grid-template-columns: 1fr;
    gap: 5%;
  }

}



