:root {
    /* Brand color */
    --main-color: #FF7119;

    /* secondary colors */
    --sec-gold: #da9100;
    --sec-silver: #c0c0c0;
  
    /* Functional colors */
    --sub-black: #1c1c1c;
    --sub-cream: #efeeea;
    --sub-dark-white: #dbd9d2;
    --sub-grey: #403b3b;
    --sub-light-grey: #8c8c8c;
 
  
    /* Feedback colors */
    --pastel-orange: #f0944d;
    --pastel-green: #c8e1cc;
    --pastel-yellow: #fdfd96;

    /* text-Colors */
    --font-on-Dark: #ffffff;
    --bg-color: #ecece9;
  }
  
  body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Syncopate', sans-serif;  
    /* font-family: 'Monserrat', sans-serif;   */
    text-align: center;
    background-color: var(--bg-color);
    color: var(--sub-black);
  }
  
  /* LIBRARY STYLES */
  /* banner */

  .main-nav {
    background-color: var(--sub-black);
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .main-nav a {
    color: var(--main-color);
    text-decoration: none;
    padding: 10px;
  }


  .main-nav a:hover {
    text-shadow: 0 0 10px var(--sec-silver);
    cursor: pointer;
  }

  .main-nav div {
    margin-left: auto;
  }


 .banner-container {
    display: flex;
    width: 100vw;
    background-color: var(--sub-black);
    color: var(--font-on-Dark);
    text-transform: uppercase;
    justify-content: center;
    border-bottom: 1px solid var(--sec-silver);
 }

 .headers-container h1 {
    font-size: 3rem;
    padding: 0;
    margin: 0;
 }
  
  /* Section - content */
  /* Categories */
  
  #sec-content {
    display: flex;
    width: 80%;
    gap: 20px
  }
  
  .contentLeft {
   max-width: 300px;
    min-width: 250px;
    background-color: var(--sub-black);
    color: var(--font-on-Dark);
    padding-left: 10px;
    min-height: 100vh;
  }
  
  .categoryList {
    list-style: none;
    text-align: start;
    padding: 0 10px;
  }
  
  .categoryTitle {
    color: var(--main-color);
  }
  
  .category {
    font-size: 0.9rem;
    padding: 5px;
    text-wrap: wrap;
  }

  .category:hover {
    text-shadow: 0 0 5px var(--sec-silver);
    cursor: pointer;
}
  
  
  /* Content */
  
  .contentRight {
    width: 80%;
    text-align: start;
  }
  
  .contentContainer {
    display: none;
  }
  
  .active {
    display: block;
  }
  
  .contentTitle {
    text-transform: uppercase;
    font-size: 1.8rem;
  }
  
  
  
  /* Content -  Color */
  #color h2 {
    text-transform: uppercase;
    font-weight: 300;
  }
  
  .colorCircle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 120px;
    height: 120px;
    border: 1px solid var(--sub-cool-beige);
    border-radius: 50%;
    text-align: center;
    margin: 10px;
  }
  
  .colorCircle p {
    margin: auto;
    color: white;
    font-size: 13px;
  }
  
  .funcColorContainer,
    .noteColorContainer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .softGreen {
    background-color: var(--main-color);
  }

  .silver {
    background-color: var(--sec-silver);
  }

  .gold {
    background-color: var(--sec-gold);
  }
  
  .coolBeige {
    background-color: var(--sub-cool-beige);
  }
  
  .warmGrey {
    background-color: var(--sub-light-grey);
  }
  
  .darkGrey {
    background-color: var(--sub-grey);
  }
  
  .darkWhite {
    background-color: var(--sub-dark-white);
    border: 1px solid rgb(212, 198, 198)
}

.darkWhite p {
      color: var(--sub-black)
  }

  .maroon {
    background-color: #821214
  }
  
  .cream {
    background-color: var(--sub-cream);
    border: 1px solid #Dbd9d2
  }
  .cream p {
    color:var(--sub-black)
  }
  
  .nightBlack {
    background-color: var(--sub-black);
  }
  
  .softOrange {
    background-color: var(--pastel-orange);
  }

  .pastelGreen {
    background-color: var(--pastel-green);
    border: 1px solid lightgreen
  }

  .pastelGreen p {
    color: var(--sub-black)
  }

  .pastelYellow {
    background-color: var(--pastel-yellow);
  }

  .pastelYellow p {
    color: var(--sub-black)
  }



  /* DASHBOARD STYLES */
  .dashboard {
    height: 100vh;
    background-color: var(--sub-black);
  }
 