:root {
    /* Brand color */
    --brand-color: #FF7119;

    /* secondary colors */
    --sec-gold: #da9100;
    --sec-silver: #c0c0c0;
    --sec-brass: #D4Af37;
  
  
    /* background colors for dashboard */
    --bg-sides: #121212;
    --bg-main: #4B4A4A;
    --bg-main: #4B4A4A;
    --bg-chart: #2c2b2b;

    /* chart elements colors */
    --chart-color1: #75A6e5;
    --chart-color2: #9b7cb6;
    --chart-color3: blue;
    --chart-color4: purple;
    --chart-color5: maroon;



    --bg-library: #ecece9;
    --font-family-headers: 'Syncopate', sans-serif;  
    --font-family-content: 'Montserrat', sans-serif;
    --font-family-chart: 'noto', serif;
  
  
    /* Feedback colors */
    --pastel-orange: #f0944d;
    --pastel-green: #c8e1cc;
    --pastel-yellow: #fdfd96;

    /* text-Colors */
    --font-on-dark: #ffffff;
    --font-on-light: #121212;
  }

  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: var(--bg-library);
    width: 100vw;
  }

  
  /* LIBRARY STYLES */
  /* banner */

  .main-nav {
    background-color: var(--bg-sides);
    display: flex;
    align-items: center;
    font-family: var(--font-family-headers);
  }
  
  .main-nav {
    color: var(--brand-color);
    text-decoration: none;
    padding: 0 2%;
  
    
  }

  .main-nav > div {
    width: 300px;
  }

 .main-nav a {
  color: var(--brand-color);
  text-decoration: none;
  padding: 2%;
  
 }

 .main-nav .mainIcons {
  display: none;
 }

  .main-nav a:hover {
    text-shadow: 0 0 10px var(--font-on-dark);
    cursor: pointer;
  }
  
  .main-nav div {
    margin-left: auto;
    
  }

  .logoImg {
    width: 100px;
    padding-top: 1%;
  }


  .banner-container {
    display: flex;
    width: 100%;
    background-color: var(--bg-sides);
    color: var(--font-on-dark);
    text-transform: uppercase;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-bottom: 5%;
    font-family: var(--font-family-headers);
  }
  
 .headers-container h1 {
    font-size: 3rem;
    padding: 0;
    padding-bottom: 2%;
    margin: 0;
  
 }
  
  /* Section - content */
  /* Categories */
  
  .main-container {
    display: flex;
    width: 100%;
    border-top: 1px solid var(--sec-silver);
  }

  .hamburger {
    width: 32px;
    height: auto;
    position: fixed;
    right: 0;
    display: none;
  }

  .hamburger:hover {
    cursor: pointer;

  }
  
  .content-left {
   max-width: 300px;
    min-width: 250px;
    background-color: var(--bg-sides);
    color: var(--font-on-dark);
    padding-left: 1%;
    min-height: 100vh;
    font-family: var(--font-family-headers);
    padding-top: 0.7rem;
  }
  
  .category-list {
    list-style: none;
    text-align: start;
    padding: 0 10px;
  }
  
  .category-title {
    color: var(--brand-color);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .category {
    font-size: 0.9rem;
    padding: 5px;
    text-wrap: wrap;
  }

  .category:hover {
    text-shadow: 0 0 5px var(--font-on-dark);
    cursor: pointer;
}
  
  
  /* Content */
  .content-right {
    width: 100%;
    text-align: start;
    padding: 0 2%
  }
  
  .contentContainer {
    display: none;
    padding-top: 1.7rem;
  }



  .contentContainer h3 {
    font-family: var(--font-family-content);
    font-size: 22px;
    margin: 2rem auto;
  }
  
  .active {
    display: block;
  }
  
  .contentTitle {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: var(--font-family-headers);
    margin-bottom: 1rem;

  }
  
  /* Content -  Color */
  #color h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-family: var(--font-family-content);
  }
  
  .colorCircle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 120px;
    height: 120px;
    font-family: var(--font-family-content);
    border-radius: 50%;
    text-align: center;
    margin: 10px;
  }
  
  .colorCircle p {
    margin: auto;
    color: white;
    font-size: 13px;
  }
  
  .funcColorContainer,
    .noteColorContainer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .orange {
    background-color: var(--brand-color);
  }

  .silver {
    background-color: var(--sec-silver);
  }

  .gold {
    background-color: var(--sec-gold);
  }

  .brass {
    background-color: var(--sec-brass);
  }
  
  .darkGrey {
    background-color: var(--bg-chart);
  }

  .charcoal {
    background-color: var(--bg-main);
  }
  
  .darkWhite {
    background-color: white;
    border: 1px solid rgb(212, 198, 198)
}

.darkWhite p {
      color: var(--font-on-light)
  }

  .maroon {
    background-color: #821214
  }

  .purple {
    background-color: var(--chart-color4);
  }

  .blue {
    background-color: var(--chart-color3);
  }

  .lavender {
    background-color: var(--chart-color2);
  }

  .lightBlue {
    background-color: var(--chart-color1);
  }
  
  .nightBlack {
    background-color: var(--bg-sides);
  }
  
  .softOrange {
    background-color: var(--pastel-orange);
  }

  .pastelGreen {
    background-color: var(--pastel-green);
    border: 1px solid lightgreen
  }

  .pastelGreen p {
    color: var(--bg-sides)
  }

  .pastelYellow {
    background-color: var(--pastel-yellow);
  }

  .pastelYellow p {
    color: var(--bg-sides)
  }

  /* content - typography */

  #typography {
    width: 100%;
  }

  #typography .type-container {
    margin: 1rem auto;
  }


  #typography span {
    font-size: 1.1rem;
  }
  

  .paragraph {
    font-family: var(--font-family-content)
    ;
    font-size: 15px;
    padding: 0;
  }

   .page-description {
    font-family: var(--font-family-content);
    font-size: 20px;
    margin-bottom: 1.5rem;
   }

   .font-family-container {
    display: flex;
    gap: 20%;
    
  }


  
  #syncopate-text {
    font-family: var(--font-family-headers);
    font-weight: bold;
    font-size: 1.2rem;
  }

  #montserrat-text {
    font-family: var(--font-family-content);
    font-size: 1.2rem;
  }

  #noto-text {
    font-family: var(--font-family-chart);
    font-size: 16px;
  }
  
  .font-family-description {
    border-left: 1px solid var(--font-on-light);
    padding-left: 10%; 
  }

  .typescale-container {
    width: 100%
  }

  .typescale-size #heading-one{
    font-family: var(--font-family-headers);
    font-size: 48px;
    font-weight: bold;
    text-wrap: wrap;
    text-transform: uppercase;
    
  }

  .typescale-size #heading-two{
    font-family: var(--font-family-headers);
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .typescale-size #heading-three{
    font-family: var(--font-family-headers);
    font-size: 16px;
    font-weight: bold;
    text-wrap: wrap;
  }

  .typescale-size #heading-four {
    font-family: var(--font-family-headers);
    font-size: 14.4px;
    text-wrap: wrap;
  }

  .typescale-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5%;
    margin-bottom: 20px;
  }

  .typescale-size {
    width: 450px
  }
  .typescale-type {
    border-left: 1px solid var(--bg-chart);
    padding-left: 10%;
  }


  /* page layout section */
  .layout-page {
      width: 90%;

  }

  .layout-page p {
    width: 70%;
  }

  .img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    align-items: center;
    margin: 0 2%;
    padding: 2%;
  }

  .img-desktop, .img-code {
    margin: 3% 1% 1% 1%;
    box-shadow: -1px 0px 10px 10px rgba(74,76,76,0.54);
    max-width: 50%;
    min-width: 300px;
   
  }

  .img-code {
    width: 300px
  }

  /* Data Visualization*/
  .dataVisualization-page {
    width: 100%;
  }
  
  .dataVisualization-page h2 {
    font-family: var(--font-family-headers);
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 2% 0;
  }
  
  .dataVisualization-page h3 {
    margin: 2% 0 1% 0
  }
  .dataVisualization-page .paragraph {
    width: 70%;
  }

  
  .barChart-image {
    margin: 2%;
    max-width: 50%;
    min-width: 280px;
    width: 500px;
    height: auto;
    box-shadow: -1px 0px 10px 10px rgba(74,76,76,0.54);
  }


  .singleChart-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    
  }

  .singleChart-image {
    width: 250px;
    max-width: 25%;
    min-width: 140px;
    margin-top: 6%;
    box-shadow: -1px 0px 10px 7px rgba(74,76,76,0.54);
  }

  /* buttons section */

  .buttons {
    border-radius: 4px;
    border: none;
    text-align: center;
    font-family: Montserrat;
    transition: all 0.5s;
    cursor: pointer;
    margin: 8px;
  }
  
  .buttons span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttons span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttons:hover span {
    padding-right: 25px;
  }
  
  .buttons:hover span:after {
    opacity: 1;
    right: 0;
  }

  
  
  /* Notification section */
  
  .not-container {
    padding: 0 2%;
  }

  
  .notifications {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
  }

/* Style the buttons inside the tab */
.notifications button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  font-size: 17px;
  font-family: Montserrat;
}

/* Change background color of buttons on hover */
.notifications button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.notifications button.active {
  background-color: #ccc;
}

/* Style the tab content */
.notiType {
  display: inline-block;
  padding: 0 12px ;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
  display: none;
  font-family: Montserrat;
}

/* Clear floats after the tab */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 500px) {
  .contentContainer {

    zoom: 0.7;
  }
  
}

.contentContainer .navagator {
  padding: 10px;
  margin: 5px 0;
  text-decoration: none;
  color: #0e0d0d; /* Text color */
  font-weight: bold;
  transition: color 0.2s; /* Smooth color transition on hover */
  font-family: var(--font-family-headers);
  font-size: 0.8rem;
  /* Style when hovering over the link */
  cursor: pointer;
}

.contentContainer .navagator:hover {
  color: #007bff; /* Change text color on hover */
}
/* select drop down  */
.select-container {
  display: flex;
  align-items: center;
  gap: 5%;
  padding: 0 2%;
  flex-wrap: wrap;
}

.select-container img {
  height: 50%;
  width: auto;
  margin: 2%;
  max-width: 30vw;
  box-shadow: -1px 0px 10px 7px rgba(74,76,76,0.54);
}

.select{
   background-color: var(--bg-main);
   height: 300px;
   width: 150px;
   padding: 2%;
   box-shadow: -1px 0px 10px 7px rgba(74,76,76,0.54);
   margin: 2%;
   margin-top: 3%;
}

.select h5 {
  font-family: var(--font-family-content);
  /* font-weight: normal; */
  padding-bottom: 5px;
  color: var(--font-on-dark);
  
}

.select-dropdown {
  font-family: var(--font-family-content);
  height: 1.6rem;
  background-color: var(--font-on-dark);
  width: auto;
  outline: none;
  padding: 0 1px;
}

/* MOBILE VIEW */
@media only screen and (max-width: 400px) {
   .content-left {
    display: none;     
  }
  .main-container {
    width: 100vw;
  }
  .mainLinks  {
    display: none;
  }
  .main-nav .mainIcons {
    display: block;
    width: auto;
    text-wrap: nowrap;
    padding: 0 20px;
  }

  .logoImg {
    width: 70px;
  }

  .headers-container h1 {
    font-size: 1.5rem;
  }

  .headers-container h5 {
    font-size: 0.6rem;
  }

  .hamburger {
    display: block;
  }
  .mainLinks  {
    display: none;
  }

  .nav-hamburger {
    min-height: 50vh;
    min-width: 180px;
    max-width: 200px;
    display: block;
    background-color: var(--bg-sides);
    color: var(--font-on-dark);
    font-family: var(--font-family-headers);
    padding: 20px 0;
    zoom: 0.7;
    position: fixed;
    right: 0;
    top: 240px;
    border-radius: 8px;
    width: 80px;
    padding-top: 0;
  }

  .type-container {
    zoom: 0.5;
  }
}

/* TABLET VIEW */
@media only screen and (max-width: 800px) {
    .content-left {
    display: none;     
  }
  .main-container {
    width: 100vw;

  } 
  

  .main-nav .mainIcons {
    display: block;
    width: auto;
    text-wrap: nowrap;
    padding: 0 20px;
  }

  .logoImg {
    width: 70px;
  }
  
  .headers-container h1 {
    font-size: 1.5rem;
  }

  .headers-container h5 {
    font-size: 0.6rem;
  }
  
  .hamburger {
    display: block;
  }
  
  .mainLinks  {
    display: none;
  }

  .nav-hamburger {
    min-height: 50vh;
    min-width: 180px;
    max-width: 200px;
    display: block;
    background-color: var(--bg-sides);
    color: var(--font-on-dark);
    font-family: var(--font-family-headers);
    padding: 20px 0;
    zoom: 0.7;
    position: fixed;
    right: 0;
    top: 240px;
    border-radius: 8px;
    width: 80px;
    padding-top: 0;
  }
   .type-container {
    zoom: 0.8;
  }
  
}

